*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

h1, h2, h3, h4 {font-family: "Signika", sans-serif; text-transform: uppercase; font-weight: 600;}
h1 {font-size: 200%;}
h2 {font-size: 150%;}
h3 {font-size: 125%;}
h4 {text-transform: none; padding: 10px 0px 5px 0px;}
hr {
    display: block;
    margin: 0.25em auto 1em 0px;
    border: 1px solid #2e7120;
    width: 100%;
}

a {text-decoration: none; color: #2e7120;}
a:hover, a:active {border-bottom: 2px solid #2e7120; transition: border .2s;}

.lowercase {text-transform: lowercase;}
.subtext {font-size: 60%; color: #258212; font-style: italic; padding-left: 5px;}
.superblock {font-size: 350%; font-weight: 400; text-align: center; text-transform: none;}
.tinyblock {font-weight: 400; text-transform: none; font-style: italic; float: right; padding-top: .5em;}

.dp {padding: 0px 0px 50px 0px;}
.button {text-align: center;}
.button a {color: white; background-color: #2e7120; padding: 2px 8px; border:2px solid #2e7120;}
.button a:hover {color: #2e7120; background-color: transparent; padding: 2px 8px; transition: border .2s, color.2s, background-color .2s;}

.clearfix{zoom:1px}
.clearfix:after{content:'.';clear:both;display:block;height:0;visibility:hidden}
ul {list-style: none;}


/* header and menu settings */
nav {
    z-index: 99;
    position: fixed;
    width: 100%;
    padding: 25px 60px;
    background-color: #ffffff;
    opacity: .95;
    text-align: left;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

nav ul{
    display: inline;
    margin-left: 50px;
}

.fa-times, .fa-bars {color:#2e7120;}

nav ul li{
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    font-weight: 500;
    padding-right: 50px;
    
}
.noborder, .noborder:hover {border:none; vertical-align:middle;}

.nav-menu {float: right; display: none; cursor: pointer;}
.sub-menu {float: right; padding-right: 0px;}

.nav-logo {height: 25px; display: inline-block;}
.logo {
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%,-50%);
    position: absolute;
}


/* section pages */
section, header {
    margin: 0px 0px 180px 0px;
    padding: 90px 25px 25px 25px;
    
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
    height: 100vh;
    
    background-attachment: fixed;
}
.center {background-color: rgba(255,255,255,.8); margin: auto; width: 75%; padding: 50px;}
header {margin: 0px; padding: 0px;}
.home {background-image:linear-gradient(rgba(255,255,255,1),rgba(255,255,255,.7)), url(resources/imgs/bg.PNG);}
/*.menu {background-image:linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.4)), url(resources/imgs/menu.jpg); overflow: scroll;}*/
.menu {height: 100%; margin: 0px;}
.top {height: 275px;}
.split05 {width: 44%; display: inline-table; margin-right: 8%;}
.split05:last-child {float:right; margin: 0px;}
.menu th {padding: 0px 5px 0px 0px; border-right: 2px solid #2e7120; text-align: right; width: 100px;}
.menu td {padding: 0px 0px 0px 5px; text-align: left;}
.menu table {padding: 0px 0px 65px 0px;}
.menu table tr td:last-child {display:none; padding: 0px 0px 0px 25px; font-size: 80%; color: #258212; font-style: italic; }
.menu h2 {font-weight: 400;}

.gallery {padding: 0px; margin:0px 0px 75px 0px; height: 100%; overflow: hidden;}
.photo li {float: left; display: block; width: 25%;}
.photo img {width: 100%; transform: scale(1.05);}

/*.about {background-image:linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.4)), url(resources/imgs/about.jpg);}*/
.about {height: 100%; margin 0px;}
.row {text-align: center; padding-top: 50px;}
.row figure:first-child p {padding: 0px 0px 25px 0px; width: 65%; transform: translate(25%,0);}
c.about .button {text-align: center; display: block; margin-top: 50px;}
.about .img-gallery {width: 50%; transform: translate(50%,0); display: block;}
.img-gallery {width: 100%;}
.family {width: 50%;}
.split05 img {width: 100%;}

.press {background-image:linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.4)), url(resources/imgs/press.jpg);}
.press .center {position: relative; height: 500px;}
.bar {position: absolute; bottom: 50px;}
.quote {background-color: #000000; width: 50px; opacity: .5; cursor: pointer;}
.quote:hover, .active {opacity: 1; transition: opacity .2s;}
.hidden {display: none;}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.next {right: 0; border-radius: 3px 0 0 3px;}
.prev:hover, .next:hover {background-color: rgba(0,0,0,0.8);}

/*.location {background-image:linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.4)), url(resources/imgs/location.jpg); overflow: scroll;}*/
.location {height: 100%; margin: 0px;}
.transit li {display: inline-block; padding-right: 10px;}
.transit li:last-child{padding-right: 0px;}

footer {background-color: #2e7120; padding: 100px 50px; color: #ffffff; align-content: center; margin: auto;}
footer div {display: inline-block; padding-right: 25px; text-align: left; vertical-align: text-top; font-size: 90%;}
footd div:last-child {padding:0px;}
footer div p {font-weight: 600;}
.ftlogo {width: 150px; margin: 2px 50px 0px 0px;}
.connect li a {color: #ffffff}
.connect li a:hover, a:active {border-bottom: 1.5px solid #ffffff; transition: border .2s;}
.c-c {border-left: 2px solid #ffffff; float: right; padding-left: 75px;}
.c-c div:first-child {margin-right: 50px;}

.fab {width: 20px; line-height: 120%; vertical-align: middle; margin-right: 2px;}